<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="es" class="no-js"> <!--<![endif]-->
    <head>
        <!-- meta character set -->
        <meta charset="utf-8">
        <!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Senderos de Mallorca</title>
        <!-- Meta Description -->
        <meta name="description" content="Senderos de Mallorca">

        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS
        ================================================== -->

        <!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- bootstrap.min -->
        <link rel="stylesheet" href="css/jquery.fancybox.css">
        <!-- bootstrap.min -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- bootstrap.min -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <!-- bootstrap.min -->
        <link rel="stylesheet" href="css/slit-slider.css">
        <!-- bootstrap.min -->
        <link rel="stylesheet" href="css/animate.css">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">

        <!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>
        <style type="text/css">
        @font-face {
            font-family: mifuente;
            src: url("mifuente.ttf");
        }

        body{
            font-family: mifuente;
        }

        .ContenidoFormulario{
            color: ##1C1C1C;
            font-weight: bold;
            width: 50%;
            margin-left: 30%;
            margin-top: -3%;
            padding-bottom: 100%;
        }

        .ContenidoFormulario table{

            margin-top: -35%;
            margin-left: -55%;
        }

        .ContenidoFormulario td{
            padding: 1%;
        }

        .ContenidoFormulario tr{
            padding: 1%;
            padding-right: 4%;
            padding-left: 4%;

        }

        #TextArea{

            width: 100%;
            margin-left: 58%;
            margin-top: -8%;
        }


       .inputFormu{
            background-color: #FAFAD5;
            color:black;
        }
        .Formu{
            margin-top: 10%;
            margin-left: 10%;
        }

        p.consejo{
            font-size: 12px;
        }

        .tituloRegistro{

            font-size: 32px;
            font-weight: bold;
            color: #19070B;
            margin-bottom: 12%;
            margin-top: -6%;
        }

        .posicionMenu{
            margin-left: 95%;
            margin-top: -4%;
            width: 60%;
            padding: 5%;
            color:#DED35C;

        }

        .posicionMenu input{
            font-size: 14px;
            padding-left: 1%;
        }

        #admin {

            background: #dbd659; /* Old browsers */
            background: -moz-linear-gradient(top,  #dbd659 0%, #eabd4b 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #dbd659 0%,#eabd4b 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #dbd659 0%,#eabd4b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbd659', endColorstr='#eabd4b',GradientType=0 ); /* IE6-9 */

        }

        #BotonEnviar{
            position: absolute;
            margin-top: 1%;
            padding-top: 10%;
            margin-top: -10%;
            margin-left: 10%;
        }

        #Archivos{
            padding-top: 2%;
            margin-bottom: 22%;
            margin-left: -55%;
        }
        .prueba{
            margin-left:-15%;
            margin-right: -25%;
        }

		.demo {
			border:1px solid #C0C0C0;
			border-collapse:collapse;
			padding:5px;
		}
		.demo th {
			border:1px solid #C0C0C0;
			padding:5px;
			background:#EEBB55;
		}
		.demo td {
			border:1px solid #C0C0C0;
			padding:10px;
			background:#FFF3DF;
		}

		.demo caption{
			font-size: 29px;
			color: black;
			padding-left: 40%;
			padding-bottom: 4%;
		}

        .posicionTabla {
        	border:1px solid black;
        	width: 100%;
        	padding-bottom: 10%;
        }

        .Rojo{
        	color:red;
        	font-weight:bold;

        }




        </style>

        <script type="text/javascript">

        function logof(){
            window.location.href = "logof.php";
        }
        function index(){
            window.location.href = "index.php";
        }
        function adminRutas(){
            window.location.href = "adminruta.php";
        }
        function adminNoticias(){
            window.location.href = "adminnoticia.php";
        }
        function gestionUsuarios(){
            window.location.href = "gestionusuarios.php";
        }




        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $('div.posicionMenu').hide();
                $("a.Ocultame").click(function(){
                    if($('a.Ocultame').attr("id") == "oculto"){
                        $('div.posicionMenu').show();
                        $('a.Ocultame').attr("id","visible");
                    }else{
                        $('div.posicionMenu').hide();
                        $('a.Ocultame').attr("id","oculto");
                    }

                });
             $('a.rutaActivar').click(function(){
					$('a.rutaActivar').attr('href', "noticiaactivar.php?id="+$(this).attr("id"));
			});
             $('a.rutaBorrar').click(function(){
                    $('a.rutaBorrar').attr('href', "noticiaborrar.php?id="+$(this).attr("id"));
            });
        });
        </script>

    </head>

    <body>
    <!-- START BLOCK : menu2 -->

        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="index.php" onclick="index()">Home</a></li>
                        <li><a href="#" onclick="adminRutas()">Administrar Rutas</a></li>
                        <li><a href="#" onclick="adminNoticias()">Administrar Rutas</a></li>
                        <li><a href="#" onclick="gestionUsuarios()">Administrar cuentas</a></li>
                        <li><a href="#">Bienvenido, {nombre}</a></li>
                        <li><a href="logof.php" onclick="logof()">Desconectar</a></li>
                    </ul>
                </nav>
            </div>
        </header>

    <!-- END BLOCK : menu2 -->

<!-- START BLOCK : banner1 -->
        <main class="site-content" role="main">
            <section id="home-slider">
                <div id="slider" class="sl-slider-wrapper">

                    <div class="sl-slider">

                        <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

                            <div class="bg-img bg-img-1"></div>

                            <div class="slide-caption">
                                <div class="caption-content">
                                    <h2 class="animated fadeInDown">Senderos de Mallorca</h2>
                                    <span class="animated fadeInDown">Rutas y excursiones por los senderos de Mallorca</span>
                                    <a href="#" class="btn btn-blue btn-effect">Bienvenido, {nombre}</a>
                                </div>
                            </div>

                        </div>

                        <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

                            <div class="bg-img bg-img-2"></div>
                            <div class="slide-caption">
                                <div class="caption-content">
                                    <h2>Senderos de Mallorca</h2>
                                    <span>Rutas y excursiones por los senderos de Mallorca</span>
                                    <a href="#" class="btn btn-blue btn-effect">Bienvenido, {nombre}</a>
                                </div>
                            </div>

                        </div>

                        <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

                            <div class="bg-img bg-img-3"></div>
                            <div class="slide-caption">
                                <div class="caption-content">
                                    <h2>BLUE Onepage HTML5 Template</h2>
                                    <span>Clean and Professional one page Template</span>
                                    <a href="#" class="btn btn-blue btn-effect">Bienvenido, {nombre}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                        <a href="javascript:;" class="sl-prev">
                            <i class="fa fa-angle-left fa-3x"></i>
                        </a>
                        <a href="javascript:;" class="sl-next">
                            <i class="fa fa-angle-right fa-3x"></i>
                        </a>
                    </nav>


                    <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
                        <span class="nav-dot-current"></span>
                        <span></span>
                        <span></span>
                    </nav>

                </div>
            </section>
        <!-- END BLOCK : banner1 -->
        <!-- START BLOCK : administrador -->
        <section id="admin">
        	<div class="posicionTabla">
				<table class="demo">
					<caption>Administrador de Noticias</caption>
						<thead>
							<tr>
								<th>Titulo</th>
								<th>Descripcion</th>
								<th>Link</th>
								<th>Imagen</th>
                                <th>Publicado</th>
							</tr>
							</thead>
							<tbody>
				<!-- START BLOCK : datos -->
							<tr>
								<td>{Titulo}</td>
								<td>{Descripcion}</td>
								<td><a href="{Link}">{Link}</a></td>
								<td>{imagen}</td>
								<td class="Rojo">{Publicado}/<br><a href="#" id="{id}" class="rutaActivar">Publicar</a>/<a href="#" id="{id}" class="rutaBorrar">Borrar</a></td>
							</tr>
				<!-- END BLOCK : datos -->
					</tbody>
				</table>
			</div>
        </section>
<!-- END BLOCK : administrador -->
<!-- START BLOCK : jquery -->

        <script src="js/jquery-1.11.1.min.js"></script>

        <script src="js/bootstrap.min.js"></script>

        <script src="js/jquery.singlePageNav.min.js"></script>

        <script src="js/jquery.fancybox.pack.js"></script>

        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

        <script src="js/owl.carousel.min.js"></script>

        <script src="js/jquery.easing.min.js"></script>

        <script src="js/jquery.slitslider.js"></script>
        <script src="js/jquery.ba-cond.min.js"></script>

        <script src="js/wow.min.js"></script>

        <script src="js/main.js"></script>
    <!-- END BLOCK : jquery -->
    </body>
</html>
