<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Senderos de Mallorca</title>
		<!-- Meta Description -->
        <meta name="description" content="Senderos de Mallorca">

		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS
		================================================== -->

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/jquery.fancybox.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/owl.carousel.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/slit-slider.css">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">


		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>

        <style type="text/css">
        @font-face {
        	font-family: mifuente;
        	src: url("mifuente.ttf");
        }

        body{
        	font-family: mifuente;
        }


        .Titulos {
        	display: block;
    		font-size: 24px;
    		margin-bottom: 45px;
    	    vertical-align: middle;
    		display: table-cell;
        }

        .Titulos h2 {
        	color: #fff;
    		font-size: 52px;
    		font-weight: 400;
    		margin-bottom: 25px;
    		text-transform: uppercase;
        }

        .ContenidoFormulario{
        	color: #F7FC5D;
        	font-weight: bold;
        	width: 50%;
        	margin-left: 25%;
        	margin-top: 17%;
        	padding-bottom: 10%;
        }
       .inputFormu{
        	background-color: #FAFAD5;
        	color:black;
        }
        .Formu{
        	margin-top: 10%;
        	margin-left: 10%;
        }

        p.consejo{
        	font-size: 12px;
        }

        .tituloRegistro{

        	font-size: 32px;
        	font-weight: bold;
        	color: #F9F636;
        	margin-bottom: 12%;
        	margin-top: -6%;
        }

        .posicionMenu{
        	margin-left: 95%;
        	margin-top: -4%;
        	width: 60%;
        	padding: 5%;
        	color:#DED35C;

        }

        .posicionMenu input{
        	font-size: 14px;
        	padding-left: 1%;
        }

        .prueba{
        	margin-left:-15%;
        	margin-right: -25%;
        }

        </style>

        <script type="text/javascript">

        function logof(){
        	window.location.href = "logof.php";
        }

        function index(){
        	window.location.href = "index.php";
        }

        function noticias(){
        	window.location.href = "noticias.php";
        }

        function nuevaRuta(){
            window.location.href = "nuevaruta.php";
        }
        function nuevaNoticia(){
            window.location.href = "nuevanoticia.php";
        }



        </script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>
		$(document).ready(function(){
			$('div.posicionMenu').hide();
			    $("a.Ocultame").click(function(){
			       	if($('a.Ocultame').attr("id") == "oculto"){
			       		$('div.posicionMenu').show();
			       		$('a.Ocultame').attr("id","visible");
			       	}else{
			       		$('div.posicionMenu').hide();
			       		$('a.Ocultame').attr("id","oculto");
			       	}

			    });

			$('a.ruta').click(function(){
					$('a.ruta').attr('href', "http://localhost/Proyecto/controllers/ruta.php?id="+$(this).attr("id"));
				});
		});


		</script>


    </head>
    <body>

    <!-- START BLOCK : menu0 -->

        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#body">Home</a></li>
                        <li><a href="#service">Rutas</a></li>
                        <li><a href="#portfolio">Noticias</a></li>
                        <li><a href="#testimonials">Leyes y prohibiciones</a></li>
                        <li><a href="#price">Entrenamiento</a></li>
                        <li class="Abrir_Cerrar"><a href="#nada">Conectarse</a></li>
                        	<div id="Login" class="posicionLogin">
                        		<form method="Post">
									<div class="posicionNombre">
										      <!-- Username -->
									<label class="control-label"  for="username">Nombre de usuario</label>
										<div class="controls">
										    <input type="text" id="username" name="username" placeholder="" class="inputFormu">
										</div>
									</div>
 									<div class="control-group">
									<!-- Password-->
										<label class="control-label" for="password">Contraseña</label>
											<div class="controls">
											     <input type="password" id="password" name="password" placeholder="" class="inputFormu">
											</div>
									</div>
									<div class="btnPosicion">
										<!-- Button -->
										<div class="controls">
											 <button class="btn btn-success">Únete</button>
										</div>
									</div>
                        		</form>
                        	</div>
                    </ul>
                </nav>
            </div>
        </header>

    <!-- END BLOCK : menu0 -->

    <!-- START BLOCK : menu1 -->

        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="prueba nav navbar-nav">
                        <li><a href="index.php" onclick="index()">Home</a></li>
                        <li><a href="logof.php">Rutas</a></li>
                        <li><a href="#" onclick="noticias()">Noticias</a></li>
                        <li><a href="#">Leyes y prohibiciones</a></li>
                        <li><a href="#" onclick="nuevaRuta()">Agregar nueva Ruta</a></li>
                        <li><a href="#" onclick="nuevaNoticia()">Agregar nueva Noticia</a></li>
                        <li><a href="#">Entrenamiento</a></li>
                        <li><a href="#">Bienvenido, {nombre}</a></li>
                        <li><a href="logof.php" onclick="logof()">Desconectar</a></li>
                    </ul>
                </nav>
            </div>
        </header>

    <!-- END BLOCK : menu1 -->

    <!-- START BLOCK : menu2 -->

        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#body">Home</a></li>
                        <li><a href="#service">Rutas</a></li>
                        <li><a href="#portfolio">Noticias</a></li>
                        <li><a href="#testimonials">Leyes y prohibiciones</a></li>
                        <li><a href="#price">Entrenamiento</a></li>
                        <li><a href="#nada">Administrar cuentas</a></li>
                    </ul>
                </nav>
            </div>
        </header>

    <!-- END BLOCK : menu2 -->



    <!-- START BLOCK : bannerRuta -->
	<main class="site-content" role="main">

		<section id="home-slider">
            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">

					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

						<div class="bg-img bg-img-1"></div>

						<div class="slide-caption">
						 	<div class="Titulos">
                                <h2>{Titulo}</h2>
                                <span>{Descripcion}</span>
                            </div>
						</div>
                    </div>
				</div>
			</div>
		</section>
	<!-- END BLOCK : bannerRuta -->

	<!-- START BLOCK : infRutas -->
			<section id="service">
				<div class="container-fluid">
					<div class="row">

						<div class="sec-title text-center">
							<h2 class="wow">Información de la ruta</h2>
							<p class="wow">Detalles de la ruta</p>
					</div>

					<div class="col-md-3 text-center">
						<div class="service-item">
								<ul class="project-wrapper wow animated fadeInUp">
									<li class="portfolio-item2">
										<img src="img/icons/senderismo.png" class="img-responsive">
									</li>
								</ul>

							<h3>{Titulo}</h3>
							<p>{Localizacion}</p>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="service-item">
								<ul class="project-wrapper wow animated fadeInUp">
									<li class="portfolio-item2">
										<img src="img/icons/montaña.png" class="img-responsive">
									</li>
								</ul>

							<h3>Altitud Máxima</h3>
							<p>{altitudMax}</p>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="service-item">
								<ul class="project-wrapper wow animated fadeInUp">
									<li class="portfolio-item2">
										<img src="img/icons/tiempo.png" class="img-responsive">
									</li>
								</ul>

							<h3>Duración de la ruta</h3>
							<p>{duracion}</p>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="service-item">
								<ul class="project-wrapper wow animated fadeInUp">
									<li class="portfolio-item2">
										<img src="img/icons/pueblo.png" class="img-responsive">
									</li>
								</ul>

							<h3>Zona de salida y Llegada</h3>
							<p>La ruta empieza: {salida}</p>
							<p>La ruta finaliza: {llegada}</p>
						</div>
					</div>

					</div>
				</div>
			</section>
	<!-- END BLOCK : infRutas -->


	<!-- START BLOCK : texto -->
		<section id="about" >
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-md-offset-1 wow animated fadeInRight">
						<div class="welcome-block">
							<h3>Breve información sobre la ruta</h3>
					     	 <div class="message-body">
					       		<p>{Texto}</p>
					     	 </div>
					    </div>
					</div>
				</div>
			</div>
		</section>
	<!-- END BLOCK : texto -->

	<!-- START BLOCK : comentarios -->
		<section id="comentarios" >
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-md-offset-1 wow animated fadeInRight">
						<div class="welcome-block">
							<h3>Comentarios</h3>
					     	 <div class="message-body">
					       		<div class="panel panel-default">
								  <div class="panel-heading">
								    <h3 class="panel-title">{usuarioComentario}</h3>
								  </div>
								  <div class="panel-body">
								   	{textoComentario}
								  </div>
								</div>
					     	 </div>
					    </div>
					</div>
				</div>
			</div>
		</section>

	<!-- END BLOCK : comentarios -->


	<!-- START BLOCK : galeria -->
			<section id="portfolio">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Galeria de imágenes</h2>
							<p>Estas son algunas de las fotos de las rutas</p>
						</div>
						<ul class="project-wrapper wow animated fadeInUp">
		<!-- START BLOCK : listaImagen -->
							<li class="portfolio-item">
								<img src="{url}" class="img-responsive" alt="{descripcion}">
								<ul class="external">
									<li><a class="fancybox" title="{Titulo}" data-fancybox-group="works" href="{url}"><i class="fa fa-search"></i></a></li>
									<li><a href=""><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
		<!-- END BLOCK : listaImagen -->
						</ul>

					</div>
				</div>
			</section>
	<!-- END BLOCK : galeria -->



	<!-- START BLOCK : jquery -->
		<!-- Main jQuery -->
        <script src="js/jquery-1.11.1.min.js"></script>
		<!-- Twitter Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
		<!-- Single Page Nav -->
        <script src="js/jquery.singlePageNav.min.js"></script>
		<!-- jquery.fancybox.pack -->
        <script src="js/jquery.fancybox.pack.js"></script>
		<!-- Google Map API -->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Owl Carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- jquery easing -->
        <script src="js/jquery.easing.min.js"></script>
        <!-- Fullscreen slider -->
        <script src="js/jquery.slitslider.js"></script>
        <script src="js/jquery.ba-cond.min.js"></script>
		<!-- onscroll animation -->
        <script src="js/wow.min.js"></script>
		<!-- Custom Functions -->
        <script src="js/main.js"></script>
    <!-- END BLOCK : jquery -->
    </body>
</html>
